/* add-on styles */
.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}
.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}

body {
  /*height:100%;*/
  /*background-color: white;*/
}

.aui-dialog2-content {
  background: white;
  height:100vh;
}

#botler-services {
  margin: 0 10px 58px 10px;  
  overflow-y: auto;  
}

.botler-service-tile {
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 3px;
  box-sizing: border-box;    
  margin-top: 10px;
  padding: 10px;  
  width: 100%;
  z-index:0;  
}

body.dark .botler-service-tile {
  background-color: #1e252b;
  border-color: #0e0f0f;
  color: #aaaaaa;
}

.botler-service-img {
  border-radius: 50%;
  max-height: 25px;    
  margin-right: 10px;  
}

.botler-dead {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.botler-service-info {
  vertical-align: super;
}

.botler-service-usermention {
  display: inline-block;
  background: #f5f5f5;
  padding: 0 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 16px;
  white-space: nowrap;
}

.botler-service-details {
  font-size: 11px;
}

body.dark .botler-service-details {
  background-color: #1e252b;
  border-color: #0e0f0f;
  color: #aaaaaa;
}

body.dark .botler-service-details table.aui > tbody > tr {
  background-color: #1e252b;
  border-color: #0e0f0f;
  color: #aaaaaa;
}

.sidebar {
  background-color: #f5f5f5;
}

body.dark, .dark .sidebar {
  background-color: #333940;
}

.sidebar .entity {
  margin: 5px;
}

.botler-attribute {
  cursor: pointer;
}

#botler-button-wrapper {  
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  border-top: solid 1px #cccccc;
  border-right: 1px solid #cccccc;
  box-sizing: border-box;
  min-height: 47px;
  z-index:999; 
}

.dark #botler-button-wrapper {    
  background-color: #1e252b;
  border-top: solid 1px #0e0f0f;
  border-right: 1px solid #0e0f0f;  
}

.botler-on {
  color: #14892c;
}

.botler-off {
  color: #d04437;
}

.text-center {
  text-align: center;
}

#botler-sidebar-empty {
  padding-top: 50px;
}

#botler-sidebar-empty img {
  width: 80%;
  max-width: 250px;
}

#botler-sidebar-empty img#spin {
  margin-bottom: 10px; 
}

#botler-empty-add-new-service {
  margin-top: 15px;
}

#botler-service-filter {
  margin: 10px 10px 5px 10px;
}

#botler-service-filter input {
  width: 100%;
  max-width: 100%;
}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
#spin{
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

.botler-select2 {
  width: 100%;
  max-width: 500px;
}

.hc-chat-row {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 8px 0px;
  border-top: 1px solid #e9e9e9;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: background-color 150ms ease-in-out;
}

.hc-classic-neue .hc-chat-from {
  display: table-cell;
  max-width: 25px;
  padding: 3px 10px;
  text-align: left;
  vertical-align: top;
  width: 25px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-overflow: clip;
}

.hc-chat-msg {
  display: table-cell;
  width: 100%;
  padding: 0 10px;
  line-height: 20px;
  max-width: 0px;
}

.sender-name, .msg-line {
  float: left;
}